name: Deploy
on:
  push:
    branches:
      - main
    paths:
      - shared/**
      - backend/**
  pull_request:
    types:
      - opened
      - edited
  release:
    types:
      - published
  workflow_dispatch:
jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      services: ${{ steps.changes.outputs.changes }}
      mock: ${{ steps.changes-mock.outputs.changes }}
    steps:
      - uses: actions/checkout@v4
        if: github.event_name != 'pull_request' #no need to check out pull requests
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36
        if: github.event_name != 'release'
        id: changes
        with:
          filters: |
            frontend-a:
              - 'shared/frontend-a/**'
              - 'shared/*'
            frontend-b:
              - 'shared/frontend-b/**'
              - 'shared/*'
            backend:
              - 'backend/**'
      - name: mock dorny/paths-filter
        id: changes-mock
        run: |
          echo changes='["frontend-a","backend"]' >> $GITHUB_OUTPUT
  deploy:
    needs: changes
    runs-on: ubuntu-latest
    steps:
      - name: skip
        if: false
        run: echo skip
      - name: test
        if: false
        run: echo test
  deploy-app:
    needs:
      - changes
      - deploy
    runs-on: ubuntu-latest
    steps:
      - name: done
        run: echo done
  # deploy:
  #   needs: changes
  #   if: ${{ needs.changes.outputs.services != '[]' }}
  #   strategy:
  #     matrix:
  #       service: ${{ fromJSON(needs.changes.outputs.services) }}
  #       include:
  #         - service: frontend-a
  #           context: shared/frontend-a
  #         - service: frontend-b
  #           context: shared/frontend-a
  #         - service: backend
  #           context: backend/api
  #   uses: ./.github/workflows/reusable-build.yaml
  #   with:
  #     context: ${{ matrix.service }}
  #     release: ${{ github.event_name == 'release' }}
  #     pull_request: ${{ github.event_name == 'pull_request'}}
