name: reusable deploy
"on":
  workflow_call:
    inputs:
      github-environment:
        required: false
        type: string
jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    environment: ${{ inputs.github-environment }}
    steps:
      - name: fake deploy
        shell: bash
        run: echo deploy
permissions:
  contents: read
